@charset "utf-8";
/* CSS Document */

/* layout */
body{background:#f3f4f5 url(../images/bg_left.gif) repeat-y;}
.leftArea{width:220px; position:absolute; left:0; float:left; background-color:#3d4144; min-height: 768px}
.container_wrap{ min-width:1280px; padding:0 0px 20px 220px; overflow:hidden;}

/* leftArea */
.leftArea h1{height:69px;border-bottom:1px solid #2c2f31;text-align: center;margin:0; padding:0 }
.leftArea h1 a{display: inline-block; margin-top:10px;}

.leftArea .snb>li>a{height: 43px; line-height: 40px; border-top:1px solid #4e5154; border-bottom:1px solid #2c2f31; font-size: 13px;}
.leftArea .snb>li>a.menu01{display:block; padding-left:47px;color:#959a9e;background: url(../images/icon_menu01.png) no-repeat 21px center;} 
.leftArea .snb>li>a.menu01.on{background: #313538 url(../images/icon_menu01_on.png) no-repeat left center; color:#fff; font-weight: bold}
.leftArea .snb>li>a.menu02{display:block; padding-left:47px;color:#959a9e;background: url(../images/icon_menu02.png) no-repeat 21px center;} 
.leftArea .snb>li>a.menu02.on{background: #313538 url(../images/icon_menu02_on.png) no-repeat left center; color:#fff; font-weight: bold}
.leftArea .snb>li>a.menu03{display:block; padding-left:47px;color:#959a9e;background: url(../images/icon_menu03.png) no-repeat 21px center;} 
.leftArea .snb>li>a.menu03.on{background: #313538 url(../images/icon_menu03_on.png) no-repeat left center; color:#fff; font-weight: bold}
.leftArea .snb>li>a.menu04{display:block; padding-left:47px;color:#959a9e;background: url(../images/icon_menu04.png) no-repeat 21px center;} 
.leftArea .snb>li>a.menu04.on{background: #313538 url(../images/icon_menu04_on.png) no-repeat left center; color:#fff; font-weight: bold}
.leftArea .snb>li>a.menu05{display:block; padding-left:47px;color:#959a9e;background: url(../images/icon_menu05.png) no-repeat 21px center;} 
.leftArea .snb>li>a.menu05.on{background: #313538 url(../images/icon_menu05_on.png) no-repeat left center; color:#fff; font-weight: bold}
.leftArea .snb>li>a.menu06{display:block; padding-left:47px;color:#959a9e;background: url(../images/icon_menu06.png) no-repeat 20px center;} 
.leftArea .snb>li>a.menu06.on{background: #313538 url(../images/icon_menu06_on.png) no-repeat left center; color:#fff; font-weight: bold}

.leftArea .snb>li .snb_2dpt{background-color: #313538; padding:7px 0 7px 47px;border-top:1px solid #4e5154;}
.leftArea .snb>li .snb_2dpt li a{display:block;color:#959a9e; line-height:30px; }
.leftArea .snb>li .snb_2dpt li a.on{color:#00a4eb; }

.benArea{width:190px; position:relative; bottom:0; left:15px; margin:20px 0;}
.benArea p{ color:#fff; margin-bottom:7px;font-weight: bold}
.benArea p a{color:#999da0; font-size: 11px; float:right; display: inline-block;font-weight: normal}
.chat_sort{clear: both; height: 33px; padding:5px;margin:0;background-color:#dff5ff;border-bottom:1px solid #a3c7d7 }
.chat_sort dt{float:left; margin-right:8px}
.chat_sort dd{float:left}
.chat_sort dd select{margin-right:3px; padding:0 3px}
.chat_wrap{clear: both;background-color:#dff5ff; height: 245px; padding:7px;overflow-y:scroll;position:relative;}

.QNA_box{ margin-bottom:10px; overflow: hidden}
.answer_box{ position:relative; clear:both; margin-bottom:10px;}
.answer_box .answer{word-wrap:break-word; overflow:hidden;border-radius:8px; padding: 7px; margin-left:45px; font-size:11px;background:#fff; color:#333 ; line-height:1.3}
.answer_box .name{width:36px;height: 38px; padding-top:38px; font-size: 11px; color:#00a4eb; text-align: center; font-weight: bold; float:left; background: url(../images/icon_ben.png) no-repeat left top}
.answer_box .answer .arrow{ position:absolute; left:36px;  top:5px;}
.answer_box .answer .time{ display: block; margin-top:5px; font-size:11px; color:#999; font-weight:normal}
.question_box{ position:relative; clear:both;float:right;margin-bottom:10px;}
.question_box .question{ border-radius:8px; padding:7px; margin-right:8px; position:relative; font-size:12px; font-size:11px;background:#fff1b0; color:#333; line-height:1.3}
.question_box .question .arrow{ position:absolute; right:-8px; top:5px;}
.question_box .question .time{display: block; margin-top:5px;  bottom:0px; font-size:11px; color:#999; font-weight:normal}
.chat_input{background: #fff; border:1px solid #b5d5e3; height: 43px;}
.chat_input ul li{float:left;}
.chat_input ul li textarea{width:142px;background: #fff; border:none; padding:5px; font-size: 11px;}
.chat_input ul li a{display: block; color:#666;width:36px; height: 30px; line-height: 30px; margin:5px 0 0 5px;;text-align: center; background-color:#f1f1f1;border:1px solid #dddddd; border-radius: 3px;}

/* container */
.top{background-color:#fff;height:69px; border-bottom:1px solid #dfdfdf; padding:0 20px}
.top h2{ float:left;font-size:17px; color:#323638; font-weight: bold; line-height: 69px; margin:0; padding:0}
.top ul{float:right; margin:25px 0 0 0;}
.top ul li{float:left}
.top ul li a.user{display: block;color:#888888; font-weight: bold;margin-right:10px;}
.top ul li a.btn_logout{display: block;width:68px;height:20px; line-height: 20px; background: #e6e7e8 url(../images/icon_logout.png) no-repeat 7px center; padding-left:25px; border-radius: 10px; border: 1px solid #cdd0d4; color:#9a9c9e; font-size: 11px; font-weight: bold}

.breadCrumb{border-bottom:1px solid #dfdfdf; padding:0 20px; height: 28px; line-height: 28px;margin:0}
.breadCrumb li a{ display: block; float:left; color:#666;background: url(../images/icon_next.png) no-repeat right center; padding-right:12px;margin-right:5px}
.breadCrumb li a.on{font-weight: bold; color:#666; background: none; }

.content{padding:12px 20px 20px 20px;position:relative;min-height:750px }
.content h3{font-size:17px; font-weight: bold; padding:0; margin:0 0 20px 0 }
.content h3 span{ float:right;font-size:12px;  font-weight: normal}
	
/* 페이징 */
.btn_num{padding-bottom:15px ;text-align:center; font-size:11px;clear: both }
.btn_num a{ width:20px; height:21px;padding:2px 6px;  line-height:23px; color:#666}
.btn_num a>img{margin-top:-2px;}
.btn_num a.on{font-weight: bold; border:1px solid #00a4eb; color:#00a4eb }
.btn_num a:hover{text-decoration: none; color:#00a4eb}
 
.align_l{ text-align:left !important}
.align_c{ text-align:center !important}
.align_r{ text-align:right !important}
.floL{float:left !important}
.floR{float:right !important}
.clearB{clear: both !important}
.wid19{width:19%}
.wid29{width:29%}
.wid33{width:33%}
.wid32{width:32%}
.wid31{width:31%}
.wid30{width:30%}
.wid39{width:39%}
.wid46{width:46%}
.wid49{width:49%}
.wid59{width:59%}
.wid69{width:69%}
.wid79{width:79%}
.wid100{width:100%}
.mar0{margin:0}
.marT5{margin-top:5px !important}
.marT10{margin-top:10px !important}
.marT20{margin-top:20px !important}
.marR5{margin-right:5px !important}
.marR10{margin-right:10px !important}
.marB10{margin-bottom:10px !important}
.marL10{margin-left:10px !important}
.marL15{margin-left:15px !important}
.line{display: block;clear: both; border-top:1px solid #ccc}
.pad0{padding:0;}
input[type="checkbox"], input[type="radio"]{vertical-align: middle;width:13px;height: 13px;margin-top:0!important}


.ico_new{ display: block; float:left; color:#666;background: url(../images/icon_new.png) no-repeat right center; padding-right:12px;margin-right:5px}
.ico_up{ display: block; float:left; color:#666;background: url(../images/icon_uo.png) no-repeat right center; padding-right:12px;margin-right:5px}
.ico_down{ display: block; float:left; color:#666;background: url(../images/icon_down.png) no-repeat right center; padding-right:12px;margin-right:5px}
