@charset "utf-8";

.tab_btn_tree.active
{
	cursor: pointer;
	background: rgb(137, 181, 191);
	padding: 7px 15px;
	border: 1px solid rgb(137, 181, 191);
	color: rgb(255, 255, 255);
}

tr.tree1
{
	cursor: pointer;
}
tr.tree1.active
{
	background: #97BDD6;
}

 .tab_btn_tree
 {
 	cursor: pointer;
 	background: rgb(255, 255, 255);
 	padding: 7px 15px;
 	margin-left:-5px;
 	border: 1px solid rgb(221, 221, 221);
 	color: rgb(0, 0, 0);"
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.fr {
    float: right;
}
.fl {
    float: left;
}
.btn-xs
{
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-default 
{
	color: #333;
    background-color: #fff;
    border-color: #ccc;
	
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

tbody>tr.info{background-color: #97BDD6;}

/* 캘린더 CSS */
.cal-wrap  {}
.cal-typeA {width:260px;  border:1px solid #4175b5 !important;height:210px; background-color:#fff;}
.cal-header ul { overflow:hidden; height:35px; padding-top: 5px; list-style: none; margin-left: -25px;}
.cal-header li { float:left; }
/*.cal-header li.cal-date { background-color:#f3f6f9;  display:inline; padding:6px 0 4px 0; #padding:5px 0; text-align:center }
.cal-header li.cal-date span  { color:#333; font-weight:bold; }*/
.cal-cont     { width:100%; position:relative; }
.calendar    {}
.calendar th    { height:22px;padding:6px 10px !important; border-bottom:1px solid #dbdae1;}
.calendar td      { text-align:center;  height:18px  !important;padding:0  !important; border-bottom:1px solid #dbdae1;}
.calendar td a    { font-size:11px; display:block; padding:3px 0px 2px 0px; height:18px  !important; }
.calendar td a:hover    { text-decoration:none; background-color:#838383; color:white; }
.calendar th.sun   { color:#e7305a; }
.calendar th.sat   { color:#3471b3; }
.calendar td.sun a { color:#e7305a; }
.calendar td.sun a:hover { color:white; }
.calendar td.sat   {}
.calendar td.sat a { color:#3471b3; }
.calendar td.sat a:hover { color:white; }
.cal-typeA .cal-close     {  border-top:1px solid #d0d0d0;  text-align:right; padding:3px 5px 3px 0; }
.cal-typeA .cal-close a   { font-size:11px; color:#3471b3; display:inline-block; }
.cal-typeA .cal-close a:hover   { text-decoration: none; }