@charset "utf-8";
/* CSS Document */

/*title font*/
@font-face {  
	font-family: 'Daishin';
	font-weight: 100;
	src: url('../fonts/DaishinL.eot');
	src: local(※);
	src: url('../fonts/DaishinL.eot?#iefix') format('embedded-opentype'),
	url('../fonts/DaishinL.woff') format('woff'),
	url('../fonts/DaishinL.ttf') format('truetype');
}

/*Common*/
#container {padding-top:61px; padding-bottom:20px; height:100%; min-height:878px}
.contents {height:100%; min-height:878px; background-color:#fff; margin:12px auto 0; width:1180px; padding:17px 25px 30px 25px}
h2.page_title {padding-left:20px; margin:5px 0 20px 0; font-size:18px; line-height:23px; height:23px; background:url('../images/bl_title.gif') no-repeat left center; font-family:'Daishin'; font-weight:600}
.cont_title {margin-bottom:12px; font-size:16px; color:#333; font-weight:bold; font-family:"Daishin"}
/*Button*/
.btn_down1 {display:inline-block; padding-left:32px; vertical-align:middle; width:115px; height:31px; line-height:30px; color:#fff; border:1px solid #2d6b4f; background:#317557 url('../images/icon_excel.png') no-repeat 17px 5px}
.btn1_fr {padding:0 17px; min-height:29px; background-color:#4c4c4e; color:#f8f8f8; font-size:13px; text-align:center}
.btn_view {float:right; display:inline-block; margin-bottom:8px; padding:4px 9px 6px 9px; cursor:pointer; background-color:#f5f5f5; border:1px solid #d4d4d4; font-size:12px; color:#56606c; letter-spacing:-1px}
/*icon*/
.ic {display:inline-block; background:url('../images/main_icon.png') center center}
.ic.ic_info1 {padding-left:18px; background-position:0 -38px; height:14px}
